/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* Common styles */
h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  input {font-family: inherit;}

  /*====================local changes====================*/
  
  .body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.container {
  width: 1128px;
  margin: auto;
  display: flex;
  gap: 8px;
  padding-top: 36px;
}

.form {
  margin: auto;
  margin-bottom: 32px;
}

.input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  outline: none;
}

.input:hover {
  border: 1px solid #4e75ff;;
}

.input:hover:placeholder-shown {
  border: 1px solid #000;;
}

.input:placeholder-shown {
  border: 1px solid #808080;;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
}
button:hover {
  background-color: #6c8cff;
}

.ul-container {
  width: 1128px;
  margin: auto;
  }
 
.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.gallery-item {
  width: 360px; 
  height: 250px;  
  border: 1px solid #808080;
  overflow: hidden; 

}

.li-gallery {
  width: calc((100%-48)/3);
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}


.img {
  overflow: hidden;
  object-fit: cover;
  width: 360px;
  height: 152px;
}  

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;

} 

.baner {
  display: flex;
  justify-content: space-around;
}

.baner-li {
text-align: center;
padding: 4px 0px;

}

.baner-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

.baner-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader.visible {
    display: block;
  } 


 